h1 {
    text-align: center;
}
.left {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px;
    button {
        margin: 30px 0;
        padding: 15px;
        background: linear-gradient(to left, white, black);
        transition: 1s;
        color: lightgoldenrodyellow;
        font-size: 20px;
    }
    .active{
        background: linear-gradient(to left, black, white);
        color: crimson;
        font-weight: bold;
        font-size: 25px;
        text-shadow: 3px -2px 2px #4a6c31;
    }
}

.right {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 30px;
    .tab {
        display: none;
        margin: 30px 0;
        width: 100%;
        opacity: 0;
        transform: translateX(50%);
        transition: 1.5s;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        align-items: flex-start;
        img {
            width: 40%;
        }
        main {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin: 20px;
                width: 35%;
                height: 300px;
            }
        }
    }
    .tabAnimation {
        display: flex;
        align-items: center;
        opacity: 1;
        transform: translateX(5%);
        border-top: 2px solid white;
        border-left: 2px solid white;
        padding: 30px;
    }
}